
div{
    margin: 2rem;
    /* border: 1px solid black; */
    padding: 1rem;
    /* width: 50%; */
    /* height: 50%; */
}

/* Question One */
.que-one{
    font-family: serif;
}

.que-one h1{
    font-size: 36px;
    color: #333333;
}

.que-one p{
    font-size: 18px;
    color: #666666;
    line-height: 1.5;
    margin-top: 20px;
}

/* Question Two */
.que-two .list{
    list-style-type: none;
    font-size: 18px;
    color: #333333;
    padding: 5px;
}
.que-two .list li{
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

/* Question Three */
.que-three .list{
    list-style: none;
    font-size: 18px;
    color: #333333;
    font-weight: 800;
    padding: 5px;
}
.que-three .list li{
    padding: 15px;
    border: 2px dashed red;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
}

/* Question Four */
.que-four input{
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 18px;
}
.que-four button{
    background-color: #333333;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    margin-left: 10px;
}

/* Question Five */
.que-five .card{
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #ffffff;
    margin: 20px;
}
.que-five .card h1{
    font-size: 24px;
    color: #333333;
    margin: 10px;
}
.que-five .card p{
    font-size: 18px;
    color: #666666;
    margin: 10px;
}

/* Question Six */
.que-six .card{
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px;
}
.que-six .card h1{
    font-size: 24px;
    color: #333333;
    margin: 10px;
}
.que-six .card button{
    background-color: #333333;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}